*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: Arial, sans-serif;

}
h1{
    color: #333;
    font-size: 4rem;
    text-align: center;
    font-weight: 1000;
    width: 70%;
    margin: 0 auto;
}

